html{
	background-color: #7196FF;
	font-family: sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;

}

*{
	box-sizing: border-box;
}

input{
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	margin: 8px 20px;
}

select{
	margin-bottom: 20px;
	margin-top: 8px;
	padding: 5px;
}

div.animo{
	padding: 10px;
	background-color: #CD2836;
	animation-name:animo ;
	animation-delay: 0s;
	animation-direction: normal;
	animation-duration: 500ms;
}

@keyframes error{
	0%   { left:0px; top:0px;}
  100%  { left:200px; top:0px;}
}

.respuesta{
	color: #FFFFFF;
}

.error{
	color: #FF0000;
}

.DIV:hover + .oculto{
	display: block;
	color: white;
}

.botón{
	transition-duration:0.4s;
	border: none;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;

}

.botón:hover{
	background-color: #4E40CF;
	color: white;
}